html{
	box-sizing: border-box;
}
*,
*::before,
*::after{
	box-sizing: inherit;
}
body{
  background-image: linear-gradient(red, yellow);
  background-size: 100vw 100vh;
}
:root {
  --main-color: rgba(0,0,0,0.5);
}
.container{
	width: 400px;
	margin: 100px auto;
}
form{
	display: flex;
	flex-direction: column;
}
.checkbox-input{
	display: inline-block;
	width: 20px;
	height: 20px;
	border: 1px solid  var(--main-color);
	border-radius: 3px;
	padding: 5px;
}
input{
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}
.option{
	font-size: 25px;
}
.tennis:checked + .checkbox-input{
	background-image: url(../img/ping-pong.svg);
	background-size: 15px;
	background-repeat: no-repeat;
	background-position: center;
}
.tennis:focus + .checkbox-input{
    box-shadow: 0px 0px 0px 2px blue;
	opacity: 0.7;
}
.tennis:disabled ~.option, .checkbox-input{
	opacity: 0.5;
}
.basketbol:checked + .checkbox-input{
	background-image: url(../img/baseball.svg);
	background-size: 15px;
	background-repeat: no-repeat;
	background-position: center;
}
.basketbol:focus + .checkbox-input{
    box-shadow: 0px 0px 0px 2px blue;
	opacity: 0.7;
}
.basketbol:disabled ~.option, .checkbox-input{
	opacity: 0.5;
}
.voleybol:checked + .checkbox-input{
	background-image: url(../img/volleyball.svg);
	background-size: 15px;
	background-repeat: no-repeat;
	background-position: center;
}
.voleybol:focus + .checkbox-input{
    box-shadow: 0px 0px 0px 2px blue;
	opacity: 0.7;
}
.voleybol:disabled ~.option, .checkbox-input{
	opacity: 0.5;
}

.hokkey:checked + .checkbox-input{
	background-image: url(../img/puck.svg);
	background-size: 15px;
	background-repeat: no-repeat;
	background-position: center;
}

.hokkey:focus + .checkbox-input{
    box-shadow: 0px 0px 0px 2px blue;
	opacity: 0.7;
}
.hokkey:disabled ~.option .checkbox-input{
	opacity: 0.5;
}